body {
	color: black;
	background-color: white;
	position: absolute;
	width: 100%;
	height: 100%;
}

body.black {
	color: white;
	background-color: black;
}

html body.gray {
	background-color: gray;
}

.input-init,
.input-start,
.input-data,
.input-duration {
	margin-top: 2em;
	border-radius: 10px;
	padding: 1em;
	width: 100%;
}

.active {
	border: 3px gray;
	background-color: gray;
}

.hidden {
	display: none;
}

.controls {
	position: relative;
	margin: 0 auto;
	width: 50%;
	min-width: 20em;
}

.explanation {
	width: 100%;
	margin: 0 auto;
}

label {
	display: block;
}

textarea {
	width: 100%;
}

body.black textarea {
	color: white;
	background-color: black;
}

#initialize_pattern {
	height: 1em;
}

#transmit_data {
	height: 8em;
}

input[type=range] {
	width: 170px;
}

button {
	margin-top: 30px;
	width: 200px;
	height: 50px;

	font-size: 1.5rem;

	border: 0;
	box-shadow: none;
	background-color: #eee;
}
